* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    width: 100%;
    height: 90%;
    display: flex;
}

main {
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.cube {
    position: relative;
    top: 2%;
    left: 5%;
    width: 90%;
    height: 50%;
    border-radius: 5%;
}

h2 {
    color: white;
    text-align: left;
    position: relative;
    top: 5%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.par {
    color: hsl(215, 51%, 70%);
    position: relative;
    top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.display {
    display: flex;
    border-bottom: solid hsl(215, 51%, 70%) 1px;
}

.display p {
    justify-content: space-around;
    align-items: center;
    padding: 10%;
}

.cyan {
    color: hsl(178, 100%, 50%);
}

.tree {
    color: hsl(215, 51%, 70%);
}

.img {
    position: relative;
    top: 5%;
    display: flex;
    text-align: center;
}

.img p {
    color: hsl(215, 51%, 70%);
    text-align: center;
}

span {
    color: white;
    text-align: center;
}

.avatar {
    border: 1px white solid;
    border-radius: 50%;
    width: 10%;
}

footer {
    display: none;
}